body {
    font-family: sans-serif;
    font-size: 14px;
}

.form_rjsf_themeSelector, .form_rjsf_options {
    fieldset {
        border: none;
    }
}

.page-header > h1 {
    margin: 10px 0px;
    font-weight: normal;
    font-size: 1.5em;
}

.rjsf-nav {
    list-style: none;
    padding-left: 0;
    > li {
        float: left;
        position: relative;
        display: block;
    }
    > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-radius: 4px;
        text-decoration: none;
        color: #337ab7;
    }
    > li > a:hover {
        background-color: #ddd;
    }
    > li.active > a {
        color: #fff;
        background-color: #337ab7;
    }
}

.rjsf-selector-container {
    display: flex;
    .rjsf-tabs {
        flex: 4;
    }
    .rjsf-options {
        flex: 1;
    }   
    .rjsf-themes {
        flex: 1;
    }
}

.rjsf-editor-row {
    width: 100%;
    display: flex;
    .rjsf-editor {
        flex: 1;
        margin: 10px 10px;
        .rjsf-editor-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-weight: bold;
        }
    }
}

.rjsf-main {
    display: flex;
    flex-direction: column;
    > .div {
        flex: 1;
    }
}

.rjsf-editor-main {
    display: flex;
    .rjsf-editors-container {
        flex: 3;
    }
    .rjsf-form {
        flex: 2;
        padding: 15px;
    }
}