@import '~antd/dist/reset.css';

.field-hidden {
  display: none;
}

.form-group.field-object {
  margin-bottom: 0;
}

.form-group:not(.field) {
  margin-bottom: 24px;
}

.object-property-expand {
  margin-bottom: 24px;
}

// .panel.panel-default.panel-body > .ant-row > fieldset > .ant-col.ant-form-item-label {
.panel.panel-default.panel-body fieldset > .ant-col.ant-form-item-label {
  display: none;
}

.panel.panel-danger.errors {
  margin-bottom: 24px;

  .list-group .ant-list-item {
    margin-left: 0;
    margin-right: 0;

    .anticon.anticon-exclamation-circle {
      color: #f5222d;
    }
  }
}
