@import "./base.css";

:root {
    --background: oklch(0.9900 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(0.9900 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0 0 0);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9400 0 0);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.9700 0 0);
    --muted-foreground: oklch(0.4400 0 0);
    --accent: oklch(0.9400 0 0);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.6300 0.1900 23.0300);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9200 0 0);
    --input: oklch(0.9400 0 0);
    --ring: oklch(0 0 0);
    --chart-1: oklch(0.8100 0.1700 75.3500);
    --chart-2: oklch(0.5500 0.2200 264.5300);
    --chart-3: oklch(0.7200 0 0);
    --chart-4: oklch(0.9200 0 0);
    --chart-5: oklch(0.5600 0 0);
    --sidebar: oklch(0.9900 0 0);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0 0 0);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9400 0 0);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.9400 0 0);
    --sidebar-ring: oklch(0 0 0);
    --font-sans: Geist, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1 0 0);
    --card: oklch(0.1400 0 0);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.1800 0 0);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(1 0 0);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2500 0 0);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.2300 0 0);
    --muted-foreground: oklch(0.7200 0 0);
    --accent: oklch(0.3200 0 0);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.6900 0.2000 23.9100);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.2600 0 0);
    --input: oklch(0.3200 0 0);
    --ring: oklch(0.7200 0 0);
    --chart-1: oklch(0.8100 0.1700 75.3500);
    --chart-2: oklch(0.5800 0.2100 260.8400);
    --chart-3: oklch(0.5600 0 0);
    --chart-4: oklch(0.4400 0 0);
    --chart-5: oklch(0.9200 0 0);
    --sidebar: oklch(0.1800 0 0);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.3200 0 0);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.3200 0 0);
    --sidebar-ring: oklch(0.7200 0 0);
    --font-sans: Geist, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}
