.rjsf label {
  width: 200px;
}

.rjsf input[type=text],
.rjsf input[type=number],
.rjsf input[type=password],
.rjsf input[type=range],
.rjsf textarea,
.rjsf select {
  font-weight: normal;
  width: 320px;
}

.rjsf textarea {
  height: 120px;
}

.rjsf input[type=radio] {
  margin-right: .4em;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.rjsf .geo input {
  width: 160px;
  margin-left: 4px;
}
