name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run lint
    - run: npm run cs-check

    - name: Build with Netlify badge
      if: github.ref != 'refs/heads/main'
      run: npm run build
      env:
        VITE_SHOW_NETLIFY_BADGE: true
        NODE_OPTIONS: --max_old_space_size=4096
    - name: Build
      if: github.ref == 'refs/heads/main'
      run: npm run build
      env:
        NODE_OPTIONS: --max_old_space_size=4096

    - if: matrix.node-version == '18.x'
      uses: actions/upload-artifact@v3
      with:
        name: playground
        path: packages/playground/dist
    - if: matrix.node-version == '18.x'
      uses: actions/upload-artifact@v3
      with:
        name: docs
        path: packages/docs/build
    - run: npm test
  deploy_playground_and_docs:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    name: Deploy playground and docs to GitHub Pages
    needs: [build]
    steps:
      - name: Download built playground
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Download built docs
        uses: actions/download-artifact@v3
        with:
          name: docs
          path: dist/docs
      - name: Deploy playground + docs to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          keep_history: true
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  old_docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - run: pip install -r requirements.docs.txt
    - run: mkdocs build --clean

