name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - run: npm ci
      - run: npm run lint

      - name: Build with Netlify badge
        run: npm run build-serial
        env:
          VITE_SHOW_NETLIFY_BADGE: true
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Build
        run: npm run build-serial
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      # Docusaurus doesn't support Node 14. These tasks can be removed once Node 14 is EOL (May 2023)
      - name: Build with Netlify badge (no docs)
        run: npx nx run-many --target=build --exclude=@rjsf/docs --parallel=false
        env:
          VITE_SHOW_NETLIFY_BADGE: true
          NODE_OPTIONS: --max_old_space_size=4096
      - name: Build (no docs)
        run: npx nx run-many --target=build --exclude=@rjsf/docs --parallel=false
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      - if: matrix.node-version == '22.x'
        uses: actions/upload-artifact@v4
        with:
          name: playground
          path: packages/playground/dist
      - if: matrix.node-version == '22.x'
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: packages/docs/build
      - run: npm test
  deploy_playground_and_docs:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    name: Deploy playground and docs to GitHub Pages
    needs: [build]
    steps:
      - name: Download built playground
        uses: actions/download-artifact@v4
        with:
          name: playground
          path: dist
      - name: Download built docs
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: dist/docs
      - name: Deploy playground + docs to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        with:
          keep_history: true
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
