name: Release
on:
  release:
    types: [published]
  push:
    branches: rel

jobs:
  release_to_npm:
    name: Release to npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm run lint
      - run: npm run cs-check
      - run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npx lerna publish from-package --yes --no-verify-access
      - if: always()
        run: rm .npmrc
